@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

a.active hr{
    display:block;
}

*{
    font-family: Outfit;
    margin-left: 2px;
    margin-right: 2px;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.funnel-display-first {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media(max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
}
.julius-sans-one-heavy {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:14px;
}

.zalando-sans-first {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;

}
.zalando-sans-second {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}


